<link href="./css/nav.css" rel="stylesheet">   
<div class="nav">
    <div class="logo" style="width: 64px; height: 64px;">
        <img src="">
    </div>
    <div class="nav-card">
        <div class="fw-bold" onclick="navTodo();">
            To do
        </div>
    </div>
    <div class="nav-card">
        <div class="fw-bold" onclick="navMemo();">
            메모
        </div>
    </div>
    <div class="nav-card">
        <div class="fw-bold" onclick="navBoard();">
            스티커 보드
        </div>
    </div>
    <div class="nav-card">
        <div class="fw-bold" onclick="navAbout();">
            about
        </div>
    </div>
</div>