html{
    font-size: 8px;
}

.content{
    display: flex;
    flex-direction: column;        
    height: 100%;
    margin-top: 2.5rem;
    padding-left: 1.5rem;
}
.content-title{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 3.75rem;
    margin-bottom: 0.25rem;
    display: flex;
}

.content-body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 1rem;
    font-size: 2rem;
}