.nav{
    display: flex;
    padding: 1rem;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    height: 100vh;
}


.nav .nav-card{
    font-size: 2rem;
    padding: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
    flex:auto;

}

.nav .nav-card:hover {
    background-color:#cdcaf6;
    transition: 0.9s;
}